.ando-unstyled-button {
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 0;
  text-align: inherit;
}
